*{
    Font-family: Helvetica;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.elementNavigation {
    font-weight: 550;
    font-size: larger;
}

.elementNavigation a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

#followme {
    text-align: left;
}

footer{
    padding-top: 10px;
    border-top: 100px;
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
}
/* .mescompetences{
    
} */

.pistache-cacahuete{
    text-align: center;
}

.scratch{
    text-align: center;
}

.github {
    text-align: center;
}

.github img{
    text-align: center;
    width: 200px;
    height: 200px;
}

.contactez-moi{
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* .divers{

} */

.realisation {
    display: flex;
    flex-direction: co;
    justify-content: center;
}

.competences {
    display: flex;
    flex-direction: co;
    justify-content: center;
}

.competences img {
    padding: 10px;
}